@font-face { font-family: '777Balsamtint'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Balsamtint.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BMEULJIRO'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff'); font-weight: normal; font-style: normal; }


/*************************  Basic  **************************/
body {-ms-overflow-style: scrollbar;background: #fff;}
	@media screen and (max-width: 480px) {
		html, body {min-width: 320px;}
	}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}
/*************************  Basic  **************************/

/*************************  Type  **************************/
body {
	background-color: #fff;
	color: #776062;
}

a{
	color: #776062;
}

body, input, select, textarea {
	font-family: '777Balsamtint';
	font-size: 16pt;
	font-weight: 300;
	line-height: 1.65;
}

	@media screen and (max-width: 1680px) {
		body, input, select, textarea {
			font-size: 16px;
		}
	}

	@media screen and (max-width: 1280px) {
		body, input, select, textarea {
			font-size: 12px;
		}
	}

	@media screen and (max-width: 980px) {
		body, input, select, textarea {
			font-size: 12px;
		}
	}

	@media screen and (max-width: 736px) {
		body, input, select, textarea {
			font-size: 10px;
		}
	}

	@media screen and (max-width: 640px) {
		body, input, select, textarea {
			font-size: 8px;
		}
	}

	@media screen and (max-width: 480px) {
		body, input, select, textarea {
			font-size: 8px;
		}

	}
/*************************  Type  **************************/


/*************************  Header  **************************/
#header{
	background: #B29D83;
	width: 100%;
	height: 50px;
}
#header .option {
	position:relative;
	list-style: none;
	width:40%;
	top: 12px;
	left : 85px;
}

#header .option li {
	margin-left: 1em;
}

#header .option li a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	font-size: 24px;
	font-family: 'BMEULJIRO'
}
#header .user_info {
	position:relative;
	list-style: none;
	text-align: right;
	right: 15px;
	top: -10px;
}

#header .user_info li {
	float:right;
	margin-left: 1em;
}

#header .user_info li a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	font-size: 24px;
}

/*************************  Header  **************************/


/*************************  Content  **************************/
/* Main */
#main {
	background: #f1f1f1;
	width: 100%;
}

/* Menu */
#menu{
	background: #B29D83;
	width: 70px;
	float: left;
	min-height: 150vh;
}

#menu ul {
	list-style: none;
}

#menu ul li {
	padding : 12px;
}

#menu ul li a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	font-size: 35px;
}
	#menu ul li a:hover {
		color: #ffffff;
	}

	#menu ul li a.active {
		color: #ffffff;
	}

/* Content */
#contents{
	float: left;
	width: calc(100% - 80px);
	background: #fffff0;
	min-height: 150vh;
}

#contents #calendar {
	font-family: 'BMEULJIRO';
	margin-top: 5%;
}

#contents #calendar .tb_date{
	margin: 0 auto;
	margin-top: 20px;
	font-size: 18px;
}

#contents #calendar .tb_date .btn_calendar{
	background: none;
	border: none;
}

#contents #calendar .tb_calendar {
	border: 1px solid black;
	margin: 0 auto;
}

#contents #calendar .tb_calendar th {
	text-align: center;
	border: 1px solid black;
	font-size : 15px;
	height : 30px;
	padding : 5px;
	background: #665541;
	color:#FFEDD6;
}

#contents #calendar .tb_calendar td {
	border: 1px solid black;
	width: 150px;
    height: 100px;
    padding : 5px;
    color:#665541;
    background:#FFECD6;
}

#contents #calendar .tb_calendar .tb_day {
	font-size: 18px;
	margin-bottom: 15px;
}

#contents #calendar .tb_calendar .tb_todo {
	font-size: 14px;
	background: #B39D84;
}

#calendarDetail {
	 position:absolute;
	 display:none;
	 border: 1px solid black;
	 background:#665541;
	 color:#FFECD6;
	 width:300px;
	 height:auto;
	 font-family: 'BMEULJIRO';
	 z-index: 99;
	 padding:10px;
}

#detailClose{
	cursor:pointer;
	border: 1px solid #FFECD6;
}

/*************************  Content  **************************/